.div1{
    text-align: left;
    color: blue;
}

.div2{
    text-align: left;
    color: blue;
    border-inline-end-color: blueviolet;
}

.div3{
    text-align: left;
    color: blue;
 

}
.div4{
    text-align: left;
    
}
.div5{
      text-align: left;

}
.body{
    background: maroon;
}
